@model MyMusicApp.DTO.SucursalDTO

<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.IdEntidad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.DirSucursal)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.HorarioSucursal)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.TelefonoSucursal)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.CorreoElectronico)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>

