@model MyMusicApp.Web.ViewModel.CarritoComprasVM

@{
    ViewData["Title"] = "ContenidoCarritoCompras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contenido Carrito Compras</h1>

<h4>Carrito de Compras</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ContenidoCarritoCompras">
            @if (Model.ListaProductosCarrito != null)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductoVista.IdEntidad)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductoVista.NombreProducto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductoVista.PrecioUnitario)
                            </th>
                            <th>
                                Cantidad solicitada
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.ListaProductosCarrito.Count(); i++)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.ListaProductosCarrito.ElementAt(i).IdEntidad)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.ListaProductosCarrito.ElementAt(i).NombreProducto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.ListaProductosCarrito.ElementAt(i).PrecioUnitario)
                                </td>
                                <td>
                                    @Model.ListaCantidadPorProducto.ElementAt(i))
                                </td>
                                <td>
                                    @Html.ActionLink("Eliminar producto del carrito", "EliminarProducto", new { id = (i + 1) })
                                    @* <input type="submit" asp-route-id="@i" value="Eliminar del Carrito" class="btn btn-primary" />*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div>
                    <b> El monto total del carrito es de:</b> @ViewBag.MontoTotal
                </div>
            }
            else
            {
                @ViewBag.Vacio
            }

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
