@model MyMusicApp.Web.ViewModel.CarritoComprasVM

@{
    ViewData["Title"] = "ContenidoCarritoCompras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contenido Carrito Compras</h1>

<h4>Carrito de Compras</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ContenidoCarritoCompras">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductoVista.IdEntidad)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductoVista.NombreProducto)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductoVista.PrecioUnitario)
                        </th>
                        <th>
                            Cantidad solicitada
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.ListProductosCarrito.Count(); i++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => modelItem.ListProductosCarrito.ElementAt(i).IdEntidad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => modelItem.ListProductosCarrito.ElementAt(i).NombreProducto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => modelItem.ListProductosCarrito.ElementAt(i).PrecioUnitario)
                            </td>
                            <td>
                                @Model.ListaCantidadPorProducto.ElementAt(i))
                            </td>
                            <td>
                                @Html.
                                @* <input type="submit" asp-route-id="@i" value="Eliminar del Carrito" class="btn btn-primary" />*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div>
                <b> El monto total del carrito es de:</b> @ViewBag.MontoTotal
            </div>
                
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
