@model MyMusicApp.Web.ViewModel.SucursalProductoVM

@{
    ViewData["Title"] = "ListarProductos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listar productos disponibles</h1>

@if (Model.Error == null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Producto.IdEntidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Producto.NombreProducto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Producto.PrecioUnitario)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListadoProductos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdEntidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreProducto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrecioUnitario)
                    </td>
                    <td>
                        @Html.ActionLink("Ver Detalles", "DetailsProducto", new { id = item.IdEntidad }) |
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{

}
