@model MyMusicApp.Web.ViewModel.SucursalProductoVM

@{
    ViewData["Title"] = "ListarSucursales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ListarSucursales</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Crear Nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sucursal.IdEntidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sucursal.DirSucursal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sucursal.HorarioSucursal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sucursal.TelefonoSucursal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sucursal.CorreoElectronico)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListadoSucursales)
        {
            await Html.RenderPartialAsync("_DetalleSucursal", item);
        }
    </tbody>
</table>
<nav style="text-align:right">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="">Anterior</a>  </li>
        <li class="page-item"><a class="page-link" href="">1</a>  </li>
        <li class="page-item"><a class="page-link" href="">2</a>  </li>
        <li class="page-item"><a class="page-link" href="">3</a>  </li>
        <li class="page-item"><a class="page-link" href="">Siguiente</a>  </li>
    </ul>

</nav>

