@model MyMusicApp.Web.ViewModel.SolicitudEnvioVM

@{
    ViewData["Title"] = "Detalle de Solicitud de Envio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Error == null)
{
    <h1>Detalle Solicitud Envio</h1>

    <div>
        <h4>Solicitud de Envio</h4>
        <h2>  @ViewBag.PuestoVendedor</h2>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SolicitudEnvio.UbicacionEnvio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SolicitudEnvio.UbicacionEnvio)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SolicitudEnvio.FecEnvio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SolicitudEnvio.FecEnvio)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SolicitudEnvio.FechaRecibido)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SolicitudEnvio.FechaRecibido)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SolicitudEnvio.EstadoSolicEnvio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SolicitudEnvio.EstadoSolicEnvio)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SolicitudEnvio.IdEntidad)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SolicitudEnvio.IdEntidad)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SolicitudEnvio.Mensaje)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SolicitudEnvio.Mensaje)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayFor(model => model.SolicitudEnvio.MtoPctComision)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SolicitudEnvio.MtoPctComision)
            </dd>

            <dt class="col-sm-2">
                Descuento envío:
            </dt>

            <dd class="col-sm-10">
                @ViewBag.MtoColones
            </dd>

        </dl>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>
    </div>

}
else
{
    <h4>Ha ocurrido un error</h4>
    <div>
        @Html.DisplayFor(model => model.Error.MensajeError)
    </div>
}
