@model MyMusicApp.Web.ViewModel.SolicitudEnvioVM

@{
    ViewData["Title"] = "ListarSolicitudesEnvio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Solicitudes de Envio</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SolicitudEnvio.UbicacionEnvio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SolicitudEnvio.FecEnvio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SolicitudEnvio.FechaRecibido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SolicitudEnvio.EstadoSolicEnvio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SolicitudEnvio.MtoPctComision)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListadoSolicitudes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UbicacionEnvio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FecEnvio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaRecibido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoSolicEnvio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MtoPctComision)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
